<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Psychology Experiment - Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>We need your consent to participate in our Interest in Drawings and Information Task</h1>
                <hr />
                <div class="legal well">
                    <p>
                        You are being asked to take part in a research study at Duke University to study how people engage with novel information.
                    </p>
                    <p><strong>
                        WHY IS THIS STUDY BEING DONE?
                    </strong></p>
                    <p>
                        The purpose of this study is to help us learn more about how interest develops in humans and how they can impact choices and learning.
                    </p>
                    <p><strong>
                        WHAT IS INVOLVED IN THIS STUDY?
                    </strong></p>
                    <p>
                        In this study, you will view animated videos of drawings. These drawings will be simple objects or animals.
                        You will be asked to name the object in its still or moving form and rate how interested you are in seeing what is drawn.
                        The experiment will be conducted on a computer, and your decisions will be recorded using a keyboard and/or mouse.
                        After you complete this study, you will be asked to answer two demographic questions.
                    </p>
                    <p><strong>
                        HOW LONG WILL I BE IN THIS STUDY?
                    </strong></p>
                    <p>
                        Your participation in this study requires one session that lasts about 30 minutes. Your participation is voluntary.
                        You may choose to end your participation at any time for any reason. If you decide to stop participating in the study, please contact the experimenter.
                    </p>
                    <p><strong>
                        WHAT ARE THE RISKS OF THIS STUDY?
                    </strong></p>
                    <p>
                        We do not anticipate any risks to you for completing the study. None of the stimuli used in this experiment will be threatening, offensive, or stressful.
                    </p>
                    <p><strong>
                        WHAT ABOUT CONFIDENTIALITY?
                    </strong></p>
                    <p>
                        In order to protect your confidentiality, your data will be kept in locked, password-protected files on restricted-access servers maintained by the Center for Cognitive Neuroscience.
                        You will be assigned an arbitrary subject number that we will use throughout this study. We will collect your MTurk ID number to ensure you are only enrolled in the study once and compensate you for participation.
                    </p>
                    <p><strong>
                        WHAT ABOUT COMPENSATION?
                    </strong></p>
                    <p>
                        You will be compensated $0.50 for one session plus an opportunity to earn a $5.00 bonus if your performance reaches the criteria outlined in the task instructions.
                    </p>
                    <p><strong>
                        WHOM TO CONTACT WITH QUESTIONS?
                    </strong></p>
                    <p>
                        If you have questions about this research, you may contact the responsible investigator, R. Alison Adcock, at adcocklabcuriosity@gmail.com.
                        If you have questions about your rights as a research participant, you may contact the Chair of the Human Subjects Committee at 919-684-3030.
                    </p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr />
                <h4>Do you understand and consent to these terms?</h4>
                <br />

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

