
{% raw %}

<div id = "app" class = "container">
    <h1>Motivation Lab: Video Experiment</h1>
    <div id = "welcome">
        <p>Welcome to the video experiment by the Motivated Memory Lab. If you would like to begin the experiment, please press the <strong>start button</strong> below. </p>
        <button id = "startButton" class = "button" @click = "startExp">Start</button>
    </div>
    <div id = "startExp" >
        <p>
            In this experiment you will be asked to watch several videos. Each video will begin with an empty canvas and will slowly reveal itself through one continuous line stroke.  Throughout the video, try to figure out what is being drawn. Record your answers in the space provided.end with a drawing of some sort. At the end of the video, you will be asked to write down what the final image is, and rate how interested you were in the video and how fast you thought the line was moving.
        </p>
        <p>
            When watching these videos please try your best to <strong>focus your attention on the drawing</strong> to give us the best understanding of how and when you can identify what it being drawn.
        </p>
        <p>
            Try to use the most common English words for drawing depictions. For example, if you see an image of a hamster write "hamster" instead of "animal" or "Winter White Dwarf hamster".
        </p>
        <p>
            Please also <strong>do not try to hit the Refresh button</strong> during the experiment.
        </p>

        <button class = "button" @click = "continueToStart">Continue</button>

    </div>
    <div id = "video1" class = "videos">

        <div v-for = "x in videoList" v-if = "x == videoList[videoIndex]">
            <video id = "video" width = "620" height = "auto" autoplay muted @ended = "finishedVideo">
                <source v-bind:src = "x.src" v-bind:type = "x.type">
            </video>
            <p><input id = "videoGuess" type = "text" placeholder="Enter Guess" v-model = "videoGuess" @keyup = "testInput">
            </p>
            <div id = "displayGuess">
                <p>Current Guess: {{currentGuess}} <br />
                </p>
            </div>
            <div id = "curiosityMeasure">
                <p >
                    Enter your Final Guess: <input id = "finalGuess" type = "text" placeholder = "Final Guess Is ..." v-model = "videoGuess" @keyup = "finalGuessMethod">
                </p>
                <p v-if = "finalGuess.length > 2">
                    Your Final Guess is: {{ finalGuess }}
                </p>


                <p>
                    How much did you want to know the final product of the drawing? 0 = least, 100 = most<input id = "slider" type = "range" min = '1' max = "100" v-bind:value = "curiosityValue" @input = "sliderFxn_curiosity"> {{curiosityValue}}
                </p>

                <p>
                    How fast did you feel the line was moving? 0 = slowest, 100 = fastest<input id = "slider_linespeed" type = "range" min = '1' max = "100" v-bind:value = "speedValue" @input = "sliderFxn_linespeed"> {{speedValue}}
                </p>


                <p v-if = "finalGuess.length > 2 && answeredCuriosityValue == 1 && answeredSpeedValue == 1">
                    <button @click = "nextVideo" class = "button">Next Video</button>
                </p>
            </div>
        </div>

    </div>

</div>

{% endraw %}