<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            For example, as you watch a video you might first see the line move upwards and maybe you think it's going to be a <strong>mountain.</strong>
            But after a couple more moments, the drawing starts to look more like a <strong>boat.</strong>
        </p>

        <p>
            And finally, the picture comes together and you realize it's actually a <strong>starfish.</strong> You finish watching the rest of the video to see if your answer matches the drawing's true identity.
            So, throughout the video you should have <strong>documented in the text box provided "mountain", "boat", and then "starfish"</strong> as your final guess.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
