<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            Each video is between 15-30 seconds in length. While watching these videos we want you to <strong>document all the things you thought the drawing was going to turn into.</strong>
            Once you are certain of your answer, you will finish watching the rest of the video. After, you will answer some brief questions about the video and your experience.
        </p>

        <p>
            It is important that you try to identify the image being drawn as <strong>quickly</strong> as you can.
            You must have at least one guess before the video ends to <strong>receive credit for that trial.</strong>
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
