<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    You will be asked to watch animated videos of single-continuous line drawings.
            Each drawing will start with a blank screen and over time the drawing will slowly reveal itself.
	    </p>
	    
	    <p>
	    	We are interested in knowing when you can figure out what the picture is going to be.
            We also want to know your thought process throughout the video (i.e. what other guesses did you have before your final guess?).
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
